-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: library_v4
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic_years`
--

DROP TABLE IF EXISTS `academic_years`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic_years` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `status` enum('draft','active','closed') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'draft',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_years`
--

LOCK TABLES `academic_years` WRITE;
/*!40000 ALTER TABLE `academic_years` DISABLE KEYS */;
INSERT INTO `academic_years` VALUES (1,'2026/2027','2026-07-01','2027-06-30','active','2026-09-03 02:26:28','2026-09-03 02:26:28');
/*!40000 ALTER TABLE `academic_years` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activities`
--

DROP TABLE IF EXISTS `activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activities` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `academic_year_id` bigint unsigned NOT NULL,
  `unit_id` int unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `activity_date` date NOT NULL,
  `student_in` time DEFAULT NULL,
  `student_late` time DEFAULT NULL,
  `student_out` time DEFAULT NULL,
  `staff_in` time DEFAULT NULL,
  `staff_late` time DEFAULT NULL,
  `staff_out` time DEFAULT NULL,
  `description` text COLLATE utf8mb4_general_ci,
  `status` enum('active','closed') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'active',
  `is_holiday` enum('yes','no') COLLATE utf8mb4_general_ci DEFAULT 'no',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `academic_year_id` (`academic_year_id`),
  CONSTRAINT `activities_ibfk_1` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activities`
--

LOCK TABLES `activities` WRITE;
/*!40000 ALTER TABLE `activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_class_permissions`
--

DROP TABLE IF EXISTS `admin_class_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_class_permissions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `class_group_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_admin_class` (`user_id`,`class_group_id`),
  KEY `class_group_id` (`class_group_id`),
  CONSTRAINT `admin_class_permissions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `admin_class_permissions_ibfk_2` FOREIGN KEY (`class_group_id`) REFERENCES `class_groups` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_class_permissions`
--

LOCK TABLES `admin_class_permissions` WRITE;
/*!40000 ALTER TABLE `admin_class_permissions` DISABLE KEYS */;
INSERT INTO `admin_class_permissions` VALUES (1,2,8,'2026-09-14 06:54:21'),(2,2,9,'2026-09-14 06:54:21');
/*!40000 ALTER TABLE `admin_class_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_grade_permissions`
--

DROP TABLE IF EXISTS `admin_grade_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_grade_permissions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `grade_id` int unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_admin_grade` (`user_id`,`grade_id`),
  KEY `grade_id` (`grade_id`),
  CONSTRAINT `admin_grade_permissions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `admin_grade_permissions_ibfk_2` FOREIGN KEY (`grade_id`) REFERENCES `grades` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_grade_permissions`
--

LOCK TABLES `admin_grade_permissions` WRITE;
/*!40000 ALTER TABLE `admin_grade_permissions` DISABLE KEYS */;
INSERT INTO `admin_grade_permissions` VALUES (3,2,12,'2026-09-14 06:54:21'),(4,2,13,'2026-09-14 06:54:21');
/*!40000 ALTER TABLE `admin_grade_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_unit_permissions`
--

DROP TABLE IF EXISTS `admin_unit_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_unit_permissions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `unit_id` int unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_admin_unit_user` (`user_id`),
  KEY `fk_admin_unit_unit` (`unit_id`),
  CONSTRAINT `fk_admin_unit_unit` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_admin_unit_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_unit_permissions`
--

LOCK TABLES `admin_unit_permissions` WRITE;
/*!40000 ALTER TABLE `admin_unit_permissions` DISABLE KEYS */;
INSERT INTO `admin_unit_permissions` VALUES (7,8,3,'2026-09-16 01:02:37'),(8,7,3,'2026-09-17 01:26:21');
/*!40000 ALTER TABLE `admin_unit_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_menus`
--

DROP TABLE IF EXISTS `app_menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_menus` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `menu_key` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `menu_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `category` varchar(50) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'UTAMA',
  `menu_url` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `menu_icon` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `parent_id` int unsigned DEFAULT NULL,
  `sort_order` int DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `menu_key` (`menu_key`),
  KEY `parent_id` (`parent_id`),
  CONSTRAINT `fk_menu_parent` FOREIGN KEY (`parent_id`) REFERENCES `app_menus` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_menus`
--

LOCK TABLES `app_menus` WRITE;
/*!40000 ALTER TABLE `app_menus` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cctv_devices`
--

DROP TABLE IF EXISTS `cctv_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cctv_devices` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `location_id` int unsigned NOT NULL COMMENT 'Relasi ke cctv_locations (Lantai/Sub-lokasi)',
  `name` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `channel_number` int DEFAULT NULL,
  `sort_order` int NOT NULL DEFAULT '0',
  `ip_address` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `hikconnect_url` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `device_serial` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` enum('normal','error','maintenance','active','inactive') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'normal',
  `location_detail` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_general_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `dvr_server` varchar(100) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'DVR SMP',
  `room_name` varchar(150) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `floor_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT 'Lantai 1',
  `error_type` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `error_notes` text COLLATE utf8mb4_general_ci,
  `error_date` datetime DEFAULT NULL,
  `repair_date` datetime DEFAULT NULL,
  `repair_pic` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_location_id` (`location_id`),
  KEY `idx_sort_order` (`sort_order`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cctv_devices`
--

LOCK TABLES `cctv_devices` WRITE;
/*!40000 ALTER TABLE `cctv_devices` DISABLE KEYS */;
/*!40000 ALTER TABLE `cctv_devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cctv_locations`
--

DROP TABLE IF EXISTS `cctv_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cctv_locations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `parent_id` int unsigned DEFAULT NULL COMMENT 'NULL = Lokasi Utama (Gedung/Area), NOT NULL = Sub Lokasi (Lantai/Zona)',
  `name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `code` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `sort_order` int NOT NULL DEFAULT '0',
  `description` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_parent_id` (`parent_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cctv_locations`
--

LOCK TABLES `cctv_locations` WRITE;
/*!40000 ALTER TABLE `cctv_locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `cctv_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cctv_settings`
--

DROP TABLE IF EXISTS `cctv_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cctv_settings` (
  `key_name` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `key_value` text COLLATE utf8mb4_general_ci,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`key_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cctv_settings`
--

LOCK TABLES `cctv_settings` WRITE;
/*!40000 ALTER TABLE `cctv_settings` DISABLE KEYS */;
INSERT INTO `cctv_settings` VALUES ('hikconnect_url','https://www.hik-connect.com','2026-09-25 05:15:41');
/*!40000 ALTER TABLE `cctv_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_groups`
--

DROP TABLE IF EXISTS `class_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class_groups` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `grade_id` int unsigned NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_class_grade` (`grade_id`,`name`),
  CONSTRAINT `fk_class_grade` FOREIGN KEY (`grade_id`) REFERENCES `grades` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_groups`
--

LOCK TABLES `class_groups` WRITE;
/*!40000 ALTER TABLE `class_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grades`
--

DROP TABLE IF EXISTS `grades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grades` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `unit_id` int unsigned NOT NULL,
  `grade` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_grade` (`grade`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grades`
--

LOCK TABLES `grades` WRITE;
/*!40000 ALTER TABLE `grades` DISABLE KEYS */;
/*!40000 ALTER TABLE `grades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `iot_attendance_logs`
--

DROP TABLE IF EXISTS `iot_attendance_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `iot_attendance_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `device_id` varchar(50) NOT NULL,
  `unit_id` int unsigned DEFAULT NULL,
  `scan_type` enum('rfid','fingerprint') NOT NULL,
  `scan_code` varchar(100) NOT NULL,
  `user_type` enum('student','staff','unknown') NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `status` enum('success','cooldown','unregistered','error') NOT NULL,
  `response_message` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `device_id` (`device_id`),
  KEY `scan_code` (`scan_code`),
  KEY `created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `iot_attendance_logs`
--

LOCK TABLES `iot_attendance_logs` WRITE;
/*!40000 ALTER TABLE `iot_attendance_logs` DISABLE KEYS */;
INSERT INTO `iot_attendance_logs` VALUES (1,'ESP32-UNIT1-DEV1',1,'rfid','FF998877','unknown',NULL,'unregistered','Kartu atau Fingerprint Belum Terdaftar','2026-09-27 07:09:17'),(3,'ESP32-UNIT1-DEV1',1,'rfid','A1B2C3D4','staff',1,'success','Absen Pulang Berhasil (PULANG)','2026-09-27 07:09:32');
/*!40000 ALTER TABLE `iot_attendance_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `iot_devices`
--

DROP TABLE IF EXISTS `iot_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `iot_devices` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `device_id` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `unit_id` int unsigned DEFAULT NULL,
  `device_token` varchar(64) NOT NULL,
  `device_type` varchar(30) NOT NULL DEFAULT 'rfid_fingerprint',
  `ip_address` varchar(45) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `last_seen` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `device_id` (`device_id`),
  UNIQUE KEY `device_token` (`device_token`),
  KEY `unit_id` (`unit_id`),
  KEY `device_token_2` (`device_token`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `iot_devices`
--

LOCK TABLES `iot_devices` WRITE;
/*!40000 ALTER TABLE `iot_devices` DISABLE KEYS */;
INSERT INTO `iot_devices` VALUES (1,'ESP32-UNIT1-DEV1','Gerbang Utama Unit SD (Mesin 1)',1,'TOK-DEV-SD-01-A8B9C','rfid_fingerprint','::1',1,'2026-09-27 14:09:32','2026-09-27 06:11:24','2026-09-27 07:09:32'),(2,'ESP32-UNIT1-DEV2','Lobi Depan Unit SD (Mesin 2)',2,'TOK-ED56FD4EAA311355','rfid_fingerprint',NULL,1,NULL,'2026-09-27 06:11:24','2026-09-27 07:32:15'),(3,'ESP32-UNIT2-DEV1','Gerbang Utama Unit SMP (Mesin 1)',2,'TOK-DEV-SMP-01-G5H4I','rfid_fingerprint',NULL,1,NULL,'2026-09-27 06:11:24','2026-09-27 06:11:24');
/*!40000 ALTER TABLE `iot_devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_menu_access`
--

DROP TABLE IF EXISTS `role_menu_access`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_menu_access` (
  `role_id` int unsigned NOT NULL,
  `menu_id` int unsigned NOT NULL,
  PRIMARY KEY (`role_id`,`menu_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_menu_access`
--

LOCK TABLES `role_menu_access` WRITE;
/*!40000 ALTER TABLE `role_menu_access` DISABLE KEYS */;
INSERT INTO `role_menu_access` VALUES (1,15),(1,16),(1,17),(1,18),(1,19),(1,20),(1,21),(1,22),(1,23),(1,24),(1,25),(1,26),(1,27),(1,28),(1,29),(1,30),(1,31),(1,32),(1,33),(1,34),(1,35),(1,36),(2,15),(2,16),(2,17),(2,18),(2,19),(2,20),(2,21),(2,23),(2,24),(2,25),(2,26),(2,27),(2,28),(2,29),(2,30),(2,31),(2,35),(2,36),(3,15),(3,16),(3,17),(3,19),(3,30),(4,15),(4,16),(5,15),(5,16),(5,18),(5,20),(5,31);
/*!40000 ALTER TABLE `role_menu_access` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `role_key` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `role_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `is_system` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_key` (`role_key`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'super_admin','Super Admin','Akses penuh ke seluruh sistem dan konfigurasi',1,'2026-09-20 15:34:41'),(2,'kepala_sekolah','Kepala Sekolah','Akses monitoring dan laporan unit sekolah',1,'2026-09-20 15:34:41'),(3,'admin','Admin Unit / Pemantau','Akses monitoring data dan absensi siswa',1,'2026-09-20 15:34:41'),(4,'staff','Staff / Guru','Akses dasar guru dan pegawai',1,'2026-09-20 15:34:41'),(5,'hrd','hrd','Melakukan Pengecekan staff',0,'2026-09-25 05:54:20');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `phone` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `wa_notify` tinyint(1) NOT NULL DEFAULT '1',
  `rfid_uid` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `fingerprint_id` int unsigned DEFAULT NULL,
  `nik` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `unit_id` int unsigned DEFAULT NULL,
  `photo` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nik` (`nik`),
  UNIQUE KEY `rfid_uid` (`rfid_uid`),
  KEY `fk_staff_user` (`user_id`),
  KEY `fk_staff_unit` (`unit_id`),
  CONSTRAINT `fk_staff_unit` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_staff_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=248 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_attendances`
--

DROP TABLE IF EXISTS `staff_attendances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_attendances` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `staff_id` bigint unsigned NOT NULL,
  `activity_id` bigint unsigned NOT NULL,
  `attendance_date` date NOT NULL,
  `time_in` time DEFAULT NULL,
  `time_out` time DEFAULT NULL,
  `scan_code` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` enum('tepat_waktu','terlambat','izin','sakit') COLLATE utf8mb4_general_ci NOT NULL,
  `keterangan` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `scanned_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_staff_activity` (`staff_id`,`activity_id`),
  KEY `activity_id` (`activity_id`),
  KEY `scanned_by` (`scanned_by`),
  KEY `idx_staff_date` (`staff_id`,`attendance_date`),
  KEY `idx_staff_status` (`status`),
  CONSTRAINT `staff_attendances_ibfk_1` FOREIGN KEY (`staff_id`) REFERENCES `staff` (`id`),
  CONSTRAINT `staff_attendances_ibfk_2` FOREIGN KEY (`activity_id`) REFERENCES `activities` (`id`),
  CONSTRAINT `staff_attendances_ibfk_3` FOREIGN KEY (`scanned_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=420 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_attendances`
--

LOCK TABLES `staff_attendances` WRITE;
/*!40000 ALTER TABLE `staff_attendances` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff_attendances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_overtimes`
--

DROP TABLE IF EXISTS `staff_overtimes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_overtimes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `staff_id` bigint unsigned NOT NULL,
  `activity_id` bigint unsigned NOT NULL,
  `overtime_date` date NOT NULL,
  `time_out` time NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_overtimes`
--

LOCK TABLES `staff_overtimes` WRITE;
/*!40000 ALTER TABLE `staff_overtimes` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff_overtimes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_attendances`
--

DROP TABLE IF EXISTS `student_attendances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_attendances` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `student_id` bigint unsigned NOT NULL,
  `enrollment_id` bigint unsigned NOT NULL,
  `activity_id` bigint unsigned NOT NULL,
  `attendance_date` date NOT NULL,
  `time_in` time DEFAULT NULL,
  `time_out` time DEFAULT NULL,
  `scan_code` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` enum('tepat_waktu','terlambat','izin','sakit') COLLATE utf8mb4_general_ci NOT NULL,
  `keterangan` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `scanned_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_student_activity` (`student_id`,`activity_id`),
  KEY `enrollment_id` (`enrollment_id`),
  KEY `activity_id` (`activity_id`),
  KEY `scanned_by` (`scanned_by`),
  KEY `idx_student_date` (`student_id`,`attendance_date`),
  KEY `idx_attendance_status` (`status`),
  CONSTRAINT `student_attendances_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`),
  CONSTRAINT `student_attendances_ibfk_2` FOREIGN KEY (`enrollment_id`) REFERENCES `student_enrollments` (`id`),
  CONSTRAINT `student_attendances_ibfk_3` FOREIGN KEY (`activity_id`) REFERENCES `activities` (`id`),
  CONSTRAINT `student_attendances_ibfk_4` FOREIGN KEY (`scanned_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=1065 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_attendances`
--

LOCK TABLES `student_attendances` WRITE;
/*!40000 ALTER TABLE `student_attendances` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_attendances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_enrollments`
--

DROP TABLE IF EXISTS `student_enrollments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_enrollments` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `student_id` bigint unsigned NOT NULL,
  `academic_year_id` bigint unsigned NOT NULL,
  `class_group_id` bigint unsigned NOT NULL,
  `status` enum('active','graduated','transferred','repeated') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_student_year` (`student_id`,`academic_year_id`),
  KEY `fk_enrollment_year` (`academic_year_id`),
  KEY `fk_enrollment_class` (`class_group_id`),
  CONSTRAINT `fk_enrollment_class` FOREIGN KEY (`class_group_id`) REFERENCES `class_groups` (`id`),
  CONSTRAINT `fk_enrollment_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`),
  CONSTRAINT `fk_enrollment_year` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=681 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_enrollments`
--

LOCK TABLES `student_enrollments` WRITE;
/*!40000 ALTER TABLE `student_enrollments` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_enrollments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `nis` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nik` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `parent_phone` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `rfid_uid` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `fingerprint_id` int unsigned DEFAULT NULL,
  `wa_notify` tinyint(1) NOT NULL DEFAULT '1',
  `photo` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nis` (`nis`),
  UNIQUE KEY `nik` (`nik`),
  UNIQUE KEY `rfid_uid` (`rfid_uid`)
) ENGINE=InnoDB AUTO_INCREMENT=736 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_settings` (
  `setting_key` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `setting_value` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
INSERT INTO `system_settings` VALUES ('ks_delete_attendance','0'),('ks_edit_time','1');
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `units`
--

DROP TABLE IF EXISTS `units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `units` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `unit` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `units`
--

LOCK TABLES `units` WRITE;
/*!40000 ALTER TABLE `units` DISABLE KEYS */;
/*!40000 ALTER TABLE `units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_login_logs`
--

DROP TABLE IF EXISTS `user_login_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_login_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `role` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `is_superadmin` tinyint(1) NOT NULL DEFAULT '0',
  `ip_address` varchar(45) COLLATE utf8mb4_general_ci NOT NULL,
  `user_agent` text COLLATE utf8mb4_general_ci,
  `device_type` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'Desktop',
  `browser` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `platform` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `login_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `logout_at` datetime DEFAULT NULL,
  `last_seen_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `status` enum('online','offline','logged_out','revoked') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'online',
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_role` (`role`),
  KEY `idx_is_superadmin` (`is_superadmin`),
  KEY `idx_login_at` (`login_at`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_login_logs`
--

LOCK TABLES `user_login_logs` WRITE;
/*!40000 ALTER TABLE `user_login_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_login_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_menu_access`
--

DROP TABLE IF EXISTS `user_menu_access`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_menu_access` (
  `user_id` bigint unsigned NOT NULL,
  `menu_id` int unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`,`menu_id`),
  KEY `menu_id` (`menu_id`),
  CONSTRAINT `fk_access_menu` FOREIGN KEY (`menu_id`) REFERENCES `app_menus` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_access_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_menu_access`
--

LOCK TABLES `user_menu_access` WRITE;
/*!40000 ALTER TABLE `user_menu_access` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_menu_access` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `photo` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `role` varchar(50) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'staff',
  `remember_token` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `last_activity` datetime DEFAULT NULL,
  `last_login_at` datetime DEFAULT NULL,
  `last_login_ip` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `is_online` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wa_message_logs`
--

DROP TABLE IF EXISTS `wa_message_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wa_message_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `student_id` bigint unsigned DEFAULT NULL,
  `staff_id` bigint unsigned DEFAULT NULL,
  `unit_id` int unsigned DEFAULT NULL,
  `phone_number` varchar(30) COLLATE utf8mb4_general_ci NOT NULL,
  `message_type` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `message_text` text COLLATE utf8mb4_general_ci NOT NULL,
  `status` enum('success','failed','skipped') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'success',
  `response_api` text COLLATE utf8mb4_general_ci,
  `sent_date` date NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_student_date_type` (`student_id`,`sent_date`,`message_type`),
  KEY `idx_sent_date` (`sent_date`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wa_message_logs`
--

LOCK TABLES `wa_message_logs` WRITE;
/*!40000 ALTER TABLE `wa_message_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `wa_message_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wa_settings`
--

DROP TABLE IF EXISTS `wa_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wa_settings` (
  `key_name` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `key_value` text COLLATE utf8mb4_general_ci,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`key_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wa_settings`
--

LOCK TABLES `wa_settings` WRITE;
/*!40000 ALTER TABLE `wa_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `wa_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wa_unit_settings`
--

DROP TABLE IF EXISTS `wa_unit_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wa_unit_settings` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `unit_id` int unsigned NOT NULL,
  `is_enabled` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1 = Boleh kirim WA, 0 = Dibatasi/Dilarang',
  `msg_in_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `msg_late_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `msg_late_delay_minutes` int DEFAULT NULL,
  `msg_late_ref` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `msg_out_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `msg_out_late_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `msg_out_late_delay_minutes` int DEFAULT NULL,
  `staff_recap_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_unit_id` (`unit_id`),
  CONSTRAINT `fk_wa_unit` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wa_unit_settings`
--

LOCK TABLES `wa_unit_settings` WRITE;
/*!40000 ALTER TABLE `wa_unit_settings` DISABLE KEYS */;
INSERT INTO `wa_unit_settings` VALUES (1,1,0,1,1,NULL,NULL,1,1,NULL,1,'2026-09-26 17:08:39'),(2,2,0,1,1,NULL,NULL,1,1,NULL,1,'2026-09-26 17:08:42'),(3,3,1,1,1,NULL,NULL,1,1,NULL,1,'2026-09-26 16:52:39'),(4,4,0,1,1,NULL,NULL,1,1,NULL,1,'2026-09-26 17:08:45'),(5,5,0,1,1,NULL,NULL,1,1,NULL,1,'2026-09-26 17:08:47'),(6,6,0,1,1,NULL,NULL,1,1,NULL,1,'2026-09-26 17:08:49'),(7,7,0,1,1,NULL,NULL,1,1,NULL,1,'2026-09-26 17:08:51'),(8,8,0,1,1,NULL,NULL,1,1,NULL,1,'2026-09-26 17:08:54'),(9,9,0,1,1,NULL,NULL,1,1,NULL,1,'2026-09-26 17:08:57'),(10,10,0,1,1,NULL,NULL,1,1,NULL,1,'2026-09-26 17:08:59');
/*!40000 ALTER TABLE `wa_unit_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `weekly_schedules`
--

DROP TABLE IF EXISTS `weekly_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `weekly_schedules` (
  `id` int NOT NULL AUTO_INCREMENT,
  `unit_id` int unsigned NOT NULL,
  `day_name` varchar(10) COLLATE utf8mb4_general_ci NOT NULL,
  `day_code` int NOT NULL,
  `student_in` time NOT NULL,
  `student_late` time NOT NULL,
  `student_out` time NOT NULL,
  `staff_in` time NOT NULL,
  `staff_late` time NOT NULL,
  `staff_out` time NOT NULL,
  `is_active` enum('active','inactive') COLLATE utf8mb4_general_ci DEFAULT 'active',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `weekly_schedules`
--

LOCK TABLES `weekly_schedules` WRITE;
/*!40000 ALTER TABLE `weekly_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `weekly_schedules` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-02 19:47:27
